extends layout

include ../views/mixins/comentario

block content
	form.form-signin.text-center(method='post', action='/comentarios/add')
		h1.h3.mb-3.font-weight-normal Formulario
		label(for='titulo') Título del comentario:
		input#titulo.form-control(type='text', name='titulo', placeholder='Título', autofocus='autofocus', value=comentario.titulo)
		label(for='contenido') Contenido:
		textarea#contenido.form-control(name='contenido', placeholder='Contenido del comentario', value=comentario.contenido)
		input.form-control(type='hidden', name='idSerie', value=id)
		button.btn.btn-lg.btn-primary.btn-block(type='submit') Guardar
