extends layout

block content
  h1 "Aquí van los comentarios de la serie"
  each comentario in comentarios
    div
      p Encabezado: #{comentario.encabezado}
      p Contenido:  #{comentario.contenido}
