extends layout
include ./mixins/comentario
block content
  a(href='/comentarios/add?id='+idSerie) Añadir Comentario
  .card-group
      each comentario in comentarios
        div
        +comentario(comentario,true)
        br
