extends layout

include ./mixins/entrega

block content
  div(align='center')
    form.form-inline(method='post', action='/entregas/buscar')
        input.form-control.mr-sm-2(type='search', placeholder='Busca cualquier entrega', name='parametro')
        button.btn.btn-outline-dark(type='submit', style={margin: ' 0px 0px 25px 0px'}) Buscar
  if entregas.length === 0
    div.alert.alert-danger(role='alert', style={margin: '0px 300px'}) No hay entregas que mostrar
  else
      .card-columns(style={padding:'10px', position: 'relative'})
      each entrega in entregas
        div
        if emailUsuario === entrega.usuario || emailUsuario === 'pruebaparaingweb@gmail.com'
            +entrega(entrega,true)
        else
            +entrega(entrega,false)
