doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
  a.float(href='/series/add')
    p.plus +
  .navbar.navbar-inverse.bg-inverse
      .container.d-flex.justify-content-between
        a.navbar-brand(href='/') Drawdede
        if passport
          a.navbar-brand(href='/misSeries/') Mis Series
          a.navbar-brand(href='/misEntregas') Mis Entregas
          a.navbar-brand(href='/logout') Logout
    block content
