doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
  .navbar.navbar-inverse.bg-inverse
      .container.d-flex.justify-content-between
        a.navbar-brand(href='/') Drawdede
        if passport
          a.navbar-brand(href='/series/') Mis Series
          a.navbar-brand(href='/misEntregas') Mis Entregas
          form.form-inline(method='post', action='/series/buscar')
            input.form-control.mr-sm-2(type='search', placeholder='hola', name='parametro')
            button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Buscar
          a.navbar-brand(href='/logout') Logout
          a.navbar-brand(href='/series/add') Nueva Serie
    block content
