doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
  .navbar.navbar-dark.bg-dark
        a.navbar-brand(style={color: '#fff',font: 'Pacifico'},href='/') Drawdede
        if passport
          a.navbar-brand(href='/misSeries/') Mis Series
          a.navbar-brand(href='/entregas') Mis Entregas
          a.navbar-brand(href='/comentarios/misComentarios') Mis Comentarios
          a.navbar-brand(href='/logout') Logout
          a.navbar-brand(href='/series/add') Nueva Serie
    block content
