extends layout
include ./mixins/comentario
block content
      each comentario in comentarios
       if comentario.usuario === emailLogged
           div
           +comentario(comentario,false)
           br
       else
           div
           +comentario(comentario,true)
           br
