extends layout

include ./mixins/entrega

block content
  .card-columns(style={padding:'10px', position: 'relative'})
      each entrega in entregas
        div
        if emailUsuario === entrega.usuario
            +entrega(entrega,true)
        else
            +entrega(entrega,false)
