extends layout
block content
  h1 Peliculas relacionadas con #{idSerie}:
    br
    br
    .card-group
    each pelicula in peliculas
       div
       h3 Título: #{pelicula.original_title}
       h3 Sinopsis:  #{pelicula.overview}
       br
       br
       br
