extends layout

include ./mixins/serie

block content
  .card-columns(style={padding:'10px', position: 'relative'})
      each serie in series
        div
        +serie(serie,true)
          //- const id = serie.id
          //a(href='/series/comentarios?id=' + id ) #{serie.titulo}
          //p #{serie.categoria}
          //p #{serie.descripcion}
