extends layout

block content
  h1 "Aquí van las series"
  a(href='/series/') Series
  br
  a(href='/misEntregas') MisEntregas
  br
  a(href='/series/add') Añadir Serie
  br
  a(href='/logout') Logout

  each serie in series
    div
      - const id = serie.idSerie
      a(href='/series/comentarios?id=' + id ) #{serie.titulo}
      p #{serie.categoria}
      p #{serie.descripcion}
