extends layout

include ./mixins/serie

block content
  div(align='center')
    form.form-inline(method='post', action='/series/buscar')
        input.form-control.mr-sm-2(type='search', placeholder='Busca cualquier cómic', name='parametro')
        button.btn.btn-outline-dark(type='submit', style={margin: ' 0px 0px 25px 0px'}) Buscar

  if series.length === 0
    div.alert.alert-danger(role='alert', style={margin: '0px 300px'}) No hay películas que mostrar
  else
    .card-columns(style={padding:'10px', position: 'relative'})
      each serie in series
        div
        if emailUsuario === serie.usuario || emailUsuario == 'pruebaparaingweb@gmail.com'
            +serie(serie,true)
        else
            +serie(serie,false)
          //- const id = serie.id
          //a(href='/series/comentarios?id=' + id ) #{serie.titulo}
          //p #{serie.categoria}
          //p #{serie.descripcion}
