mixin comentario(comentario)
   .material-card
    .card-body
       - const id = comentario.id
       h5.card-title #{comentario.titulo}
       p.card-text #{comentario.contenido}
       a(href='/comentarios/eliminar?id=' + id ) Eliminar
       br
       br
