mixin serie(serie, button)
  .card(style={width: '100%', margin: '0 auto', margin: '5px', height: '500px'})
    img.card-img-top(src=serie.imagen, alt='Card image cap',height='260', width='290')
    .card-body
      h5.card-title #{serie.titulo}
      p.card-text
        | #{serie.descripcion}
      div(style={position: 'absolute', left: '20px', bottom: '0px'})
        a.btn.btn-outline-primary(style={margin: '0px 10px 10px 0px'}, href='/series/comentarios?id=' + serie.id) Comentarios
        a.btn.btn-outline-primary(style={margin: '0px 10px 10px 0px'}, href='/series/entregas?id=' + serie.id) Entregas
        a.btn.btn-outline-primary(href='/series/peliculas?id=' + serie.titulo,style={margin: '0px 10px 10px 0px'}) Películas
        if button
          a.btn.btn-outline-warning(href='/series/editSerie?id=' + serie.id,style={margin: '0px 10px 10px 0px'}) Editar
          a.btn.btn-outline-danger(href='/series/eliminar?id=' + serie.id,style={margin: '0px 10px 10px 0px'}) Eliminar
