mixin serie(serie, button)
  .material-card
    img.card-img-top(src=serie.imagen, alt='Card image cap',height='200', width='4 00')
    .card-body
      h5.card-title #{serie.titulo}
      p.card-text
        | #{serie.descripcion}
    a.btn.btn-primary(href='/series/comentarios?id=' + serie.id) Ver comentarios
      if button
        a.btn.btn-primary(href='/series/peliculas?id=' + serie.titulo) Ver películas
