mixin serie(serie, button)
  .card(style={width: '100%', margin: '0 auto', margin: '5px', height: '500px'})
    img.card-img-top(src=serie.imagen, alt='Card image cap',height='260', width='290')
    .card-body
      h5.card-title #{serie.titulo}
      p.card-text
        | #{serie.descripcion}
      div(style={margin: '20px 10px 20px', position: 'absolute', left: '0px', bottom: '0px'})
        a.btn.btn-primary(style={margin: '10px'}, href='/series/comentarios?id=' + serie.id) Comentarios
        a.btn.btn-primary(style={margin: '10px'}, href='/series/entregas?id=' + serie.id) Entregas

        a.btn.btn-secondary(href='/series/peliculas?id=' + serie.titulo) Películas
        if button
          a.btn.btn-primary(href='/series/eliminar?id=' + serie.id) Eliminar
          a.btn.btn-primary(href='/series/editSerie?id=' + serie.id) Editar
